<header>
  <div class="logos">
  <img class="logo" src="assets\pngegg.png">
  <h3 class="font-weight-bold">

    {{title}}

  </h3>
  <img class="offset offset-6" src="assets\social.png">
  </div>
  <div class="padding-bo offset-3">
  <div class="row">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">BELLA ZI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CIBO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VEGANO</a>
          </li>    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BEVUTE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">ALCOLICI</a>
              <a class="dropdown-item" href="#">SUPERALCOLICI</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">ALTRO</a>
            </div>
          </li>
          <button type="button" class="btn btn-light offset-6">Accedi</button>
          <button type="button" class="btn btn-dark">Registrati</button>
        </ul>        
      </div>
    </nav>
  </div>
  </div>
</header>