.logos{
    background-color: whitesmoke;   
}

.logo{
    padding-left: 40px;
    height: 85px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.padding-bo{
    font-size: x-large;
    padding-bottom: 1%;
    padding-top: 1%;
}

.btn{
    border-style: solid;
    border-width: 2px;
    border-radius: 17px;
}

.form-control{
    border-radius: 15px;
    border-color: black;
}

h3{
    display: inline-block;
    margin-left: 5px;
}

header{
    background-color: #ffd929;
}
.offset{
    position: absolute;
    margin-top: 25px;
    height: 90px;
}