<br>
<br>
<div class="bg-footer">
    <div class="bg container-fluid">
        <div class="bg row">
            <div class="col-3">
                <h3>Servizio Clienti</h3>
                <br>
                <hr>
                <br>
                <p>
                    <br>
                    Accedi
                    <br>
                    <br>
                    Registrati
                    <br>
                    <br>
                    Blog
                    <br>
                    <br>
                    Il mio account
                    <br>
                    <br>
                    Aiuto?
                    <br>
                    
                </p>
            </div>
            <div class="col-3">
                <h3>Cucine</h3>
                <br>
                <hr>
                <br>
                <p>
                    <br>
                    Pizza a domicilio
                    <br>
                    <br>
                    Cinese a domicilio
                    <br>
                    <br>
                    Sushi a domicilio
                    <br>
                    <br>
                    Kebab a domicilio
                    <br>
                    <br>
                    Tutti i tipi di cucine
                    <br>
                    
                </p>
            </div>
            <div class="col-3">
                <h3>Città</h3>
                <br>
                <hr>
                <br>
                <p>
                    <br>
                    Palermo
                    <br>
                    <br>
                    Roma
                    <br>
                    <br>
                    Milano
                    <br>
                    <br>
                    Napoli
                    <br>
                    <br>
                    Torino
                    <br>
                    <br>
                    Bologna
                    <br>
                    <br>
                    Tutte le città
                    <br>
                    
                </p>
            </div>
            <div class="col-3">
                <h3>Chi Siamo</h3>
                <br>
                <hr>
                <br>
                <p>
                    <br>
                    Termini e Condizioni
                    <br>
                    <br>
                    Politica dei cookie
                    <br>
                    <br>
                    Informativa sulla Privacy
                    <br>
                    <br>
                    Informazioni
                    <br>
                    <br>
                    Miglior Prezzo Garantito
                    <br>
                    <br>
                    Lavora con noi
                    <br>
                    
                </p>
            </div>
        </div>
    </div>
</div>
