<div class="row">
  <div class="col-10">
    <br >
    <div class=" offset-5 card">
      <div class="card-header">
        <h3>{{menu.name}}</h3>
        <br >
      </div>
      <div *ngFor="let product of menu.byname_products">
      <div class="card-body">       
        <h4 class="card-title">{{product.title}}</h4>      
        <p class="card-text">{{product.subtitle}}</p>
        <br >
        <ul>
          <li>
            {{product.reservation_items[0].price | currency:'EUR'}}
            <button (click)="addToCart(product)" class="btn btn-secondary offset-1">Scegli</button>
          </li>
        </ul>
        <br >   
        </div>
      </div>
      </div>
    </div>
  </div>
 

      
