/* You can add global styles to this file, and also import other style files */

.background-hero{
    background-image: url("assets/sfondo.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    background-attachment: fixed;
}
.banner{
    background-color: #ffd929; 
}

